q1/node-red/flows.json
[
    {
        "id": "d05a2f41f5892b52",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7397e9801199cd20",
        "type": "mqtt in",
        "z": "d05a2f41f5892b52",
        "name": "",
        "topic": "FIAP/SkillUp/Focus/559250_560027_560393/#",
        "qos": "2",
        "datatype": "json",
        "broker": "24e4ea5f175fd66b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "b852d70715c930a1",
                "15fa823fd35eb96e"
            ]
        ]
    },
    {
        "id": "b852d70715c930a1",
        "type": "debug",
        "z": "d05a2f41f5892b52",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "15fa823fd35eb96e",
        "type": "ui-text",
        "z": "d05a2f41f5892b52",
        "group": "0d5bae24f26a4fe7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status da Sessão",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.Status",
        "valueType": "msg",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "24e4ea5f175fd66b",
        "type": "mqtt-broker",
        "name": "HiveMQ Publico",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d5bae24f26a4fe7",
        "type": "ui-group",
        "name": "SkillUp Monitor",
        "page": "c92f6ea57c19e540",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c92f6ea57c19e540",
        "type": "ui-page",
        "name": "SkillUp",
        "ui": "0486b8bf09346272",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "fcf7be847ee14239",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0486b8bf09346272",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "fcf7be847ee14239",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "03df767ea6658510",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]